@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@for (int i = 0; i < 10; i++)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>        
    </div>
}

@* 
1. Print numbers from 1 to 1000
2. Print multiplication table for 45 
*@